/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* CSS RESET ******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ****************************************************************************/
body {
  /* background: #f9f9f9; */
  background: #f8f8f8;
  font-family: sans-serif;
}

.App-wrap {
  /* background: white; */
}

.App {
  width: 45rem;
  /* background: white; */
  margin: 0 auto;
}

.time-block-wrap {
  margin: 2.5rem 0;
}

.time-block {
  /* margin: 2rem 0; */
  background: white;
  border: 2px solid #d3d3d366;
  box-sizing: border-box;
  border-radius: 4px;
}

.time {
  color: lightgrey;
  text-align: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  /* background: lightgreen; */
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d366;
  box-sizing: border-box;
}

.row:hover {
  cursor: pointer;
  /* background: #0e7a9e47; */
  background: #00759c17;
}

.row-left {
  display: flex;
  width: 28rem;
  justify-content: flex-start;
  /* background: azure; */
  height: 4rem;
  padding-top: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.logo {
  margin-right: 1rem;
  margin-top: .7rem;
}

.notes {
  color: lightgrey;
  margin-bottom: .4rem;
}

.type {
  font-weight: 600;
}

.person {
  font-weight: 600;
}

.row-right {
  /* background: aqua; */
  width: 12rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.delete.hidden {
  visibility: hidden;
}

.complete.hidden {
  visibility: hidden;
}

.details.hidden {
  visibility: hidden;
}

.details svg {
  fill: lightgrey;
}

.details.hovered svg,
.delete,
.complete {
  fill: lightblue;
}

.delete:hover,
.complete:hover,
.details.hovered svg:hover {
  fill: #0258a4;
  transform: scale(1.2);
}